# Папки сборки
build/
build_stg/
build_prd/

# Скомпилированные файлы
*.exe
*.o
*.out
*.obj

# Python
__pycache__/
*.pyc
*.pyo

# Редакторы
.vscode/
.idea/
*.swp
*.swo
*~

# Временные файлы
*.log
*.tmp

# Lab 02 build folders
lab_02/build_stg/
lab_02/build_prd/
lab_02/__pycache__/
